#content {
  margin: auto;
  margin-top: 200px;
  width: 50%;
  border: 3px solid #59c1bd;
  padding: 10px;
  background-color: #e7f6f2;
}

.fieldName {
  display: inline-block;
  width: 20%;
  padding-right: 10px;
  font-family: sans-serif;
}

.buttons {
  text-align: center;
}
h1 {
  text-align: center;
}
body {
  background-color: #cff5e7;
}
