#content {
  margin: auto;
  width: 50%;
  border: 3px solid #59c1bd;
  padding: 10px;
  background-color: #e7f6f2;
  margin-top: 100px;
}
header {
  text-align: center;
}
span {
  margin-right: 5%;
}
dt {
  margin-top: 1%;
  border-bottom: solid;
}
.edit {
  margin-left: 20%;
}
#lockUnlock {
  text-align: center;
}
body {
  background-color: #cff5e7;
}
h1 {
  color: #0d4c92;
  font-family: "Palyfair";
  text-align: center;
}
.fieldName {
  display: inline-block;
  width: 20%;
  padding-right: 10px;
  font-family: sans-serif;
}
.buttons {
  text-align: center;
}
