#content {
  margin: auto;
  width: 80%;
  border: 3px solid #59c1bd;
  padding: 10px;
  background-color: #e7f6f2;
  margin-top: 100px;
}
header {
  text-align: center;
}
span {
  margin-right: 5%;
}
dt {
  margin-top: 1%;
  border-bottom: solid;
}
.edit {
  position: absolute;
  right: 700px;
}
.del {
  position: absolute;
  right: 740px;
}
#lockUnlock {
  text-align: center;
}
body {
  background-color: #cff5e7;
}
h1 {
  color: #0d4c92;
  font-family: "Palyfair";
  text-align: center;
}
.fieldName {
  display: inline-block;
  width: 20%;
  padding-right: 10px;
  font-family: sans-serif;
}
.buttons {
  text-align: center;
}

.analysis {
  position: absolute;
  right: 400px;
  color: green;
  font-weight: bold;
}

.userNameOutput {
  position: absolute;
  left: 500px;
}

.passwordOutput {
  position: absolute;
  left: 800px;
}

#addNewSave {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.greenButtons {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
