#content {
  margin: auto;
  margin-top: 15%;
  width: 50%;
  border: 3px solid #59c1bd;
  padding: 10px;
  background-color: #e7f6f2;
}
body {
  text-align: center;
  font-family: sans-serif;
  background-color: #cff5e7;
}

.login {
  border-style: none;
  margin-top: 1%;
}
.input {
  margin: 20px;
}

button {
  text-align: center;
}
#username,
#password {
  margin-right: 5%;
}
h1 {
  font-family: "Playfair";
  color: #0d4c92;
}

.loginButtons {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
}
