header {
  text-align: center;
}
.content {
  margin: auto;
  width: 50%;
  border: 3px solid #59c1bd;
  padding: 10px;
  background-color: #e7f6f2;
}
p {
  text-align: right;
}
#notesfield {
  margin-left: 10%;
  margin-bottom: 5%;
}
body {
  background-color: #cff5e7;
}
h1 {
  font-family: "Playfair";
  color: #0d4c92;
}
